.icon {
  display: inline-block;
  height: 33px;
  width: 33px;
  vertical-align: middle;
  opacity: 1;
}

.white_mod {
  fill: $white;
}

.icon-arrow {
  width: 30px;
  padding-left: 10px;
}

.icon-bar-menu {
  height: 25px;
  width: 25px;
}

