//script(src='/node_modules/swiper/dist/css/swiper.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.esm.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.esm.bundle.js")
script(type="text/javascript" src="js/index.js")
