//header
//  .header
//    .container
//      .row.row_flex
//        .header__logo
//          a(href="#")
//            img(src="img/logo.png", width="96", height="25", alt="Logo")
          //.header__column
          //nav.nav
          //  ul.nav__items
          //    .subnav
          //      button.subnavbtn About
          //      ul.subnav__content.subnav__content_col
          //        strong About
          //        li Link 1
          //        li Link 2
          //        li Link 3
          //        li Link 4
          //    .subnav
          //      button.subnavbtn Products$Features
          //      ul.subnav__content
          //        li.subnav__item
          //          strong Stemscope Products
          //          ul
          //            li Link 1
          //              li Link 2
          //              li Link 3
          //              li Link 4
          //
          //        li.subnav__item
          //          strong Stemscope Features
          //          ul
          //            li Link 1
          //            li Link 2
          //            li Link 3
          //            li Link 4
          //        li.subnav__item
          //          strong Professional Development
          //          ul
          //            li Link 1
          //            li Link 2
          //            li Link 3
          //            li Link 4
          //        li.subnav__item
          //          strong Stem Sertification Programs
          //          ul
          //            li Link 1
          //            li Link 2
          //            li Link 3
          //            li Link 4
          //    .subnav
          //      button.subnavbtn Support
          //      ul.subnav__content.subnav__content_col
          //        strong Support
          //        li Link 1
          //        li Link 2
          //        li Link 3
          //        li Link 4
          //    each val in nav
          //      li.nav__item
          //        a.nav__link(href=val.href)=val.name
header
  .header
    .header__logo
      a(href="#")
        img(src="img/logo.png", width="96", height="25", alt="Logo")
    .container
      .swiper-nav.nav
        a(href='#').btn.nav-btn.js-nav-btn
          +icon('icon-menu','gray_mod')
        ul.nav__items
          li.nav__item
            a(href="#" class="slide-1 nav__item-link nav__item-link_main") ABOUT
          li.nav__item
            a(href="#" class="slide-2 nav__item-link nav__item-link_main") PRODUCTS & FEATURES
          li.nav__item
            a(href="#" class="slide-3 nav__item-link nav__item-link_main") SUPPORT
          li.nav__item
            a(href="#" class="js-slide nav__item-link nav__item-link_secondary") LOGIN
          li.nav__item
            a(href="#" class="js-slide nav__item-link nav__item-link_secondary") STEMSTORE
        .swiper-container#container
          .swiper-wrapper
            .swiper-slide
              .swiper-slide__item
                a.swiper-slide__item-link.accordion(href="#")
                  strong ABOUT
                ul.swiper-slide__item-list.panel
                  li
                    a(href="#") WHAT IS STEMSCOPES?
                  li
                    a(href="#") OUR TEAM
                  li
                    a(href="#") AWARDS
                  li
                    a(href="#") IN THE NEWS
                  li
                    a(href="#") TESTIMONIALS
                  li
                    a(href="#") BLOG
            .swiper-slide
              ul.swiper-slide__subnav
                li.swiper-slide__item
                  a.swiper-slide__item-link.accordion(href="#")
                    strong STEMSCOPES  PRODUCTS
                  ul.swiper-slide__item-list.panel
                    li
                      a(href="#") FIND CURRICULUM BUILT FOR MY STATE
                    li
                      a(href="#") STEMSCOPES K-12
                    li
                      a(href="#") STEMSCOPES NGSS 3D
                    li
                      a(href="#") STEMSCOPES EARLY EXPLORER
                    li
                      a(href="#") DIVE-in ENGINEERING
                    li
                      a(href="#") STEMRANGERS SCIENCE NIGHT
                    li
                      a(href="#") STEMRANGERS SCIENCE NIGHT
                li.swiper-slide__item
                  a.swiper-slide__item-link.accordion(href="#")
                    strong Stemscope Features
                  ul.swiper-slide__item-list.panel
                    li
                      a(href="#") 3D LEARNING
                    li
                      a(href="#") PHENOMENA
                    li
                      a(href="#") SIMULATIONS
                    li
                      a(href="#") STEM VIDEOS
                    li
                      a(href="#") DATA LITERACY
                    li
                      a(href="#") APPS

                li.swiper-slide__item
                  a.swiper-slide__item-link.accordion(href="#")
                    strong Professional Development
                  ul.swiper-slide__item-list.panel
                    li
                      a(href="#") STEMSCOPES PRODUCT TRAINING
                    li
                      a(href="#") STEM BEST PRACTICES TRAINING
                    li
                      a(href="#") FREE RESOURCES

                li.swiper-slide__item
                  a.swiper-slide__item-link.accordion(href="#")
                    strong Stem Sertification Programs
                  ul.swiper-slide__item-list.panel
                    li
                      a(href="#") STEMSCOPES PRODUCT TRAINING
                    li
                      a(href="#") STEM BEST PRACTICES TRAINING
                    li
                      a(href="#") FREE RESOURCES
            .swiper-slide
              .swiper-slide__item
                a.swiper-slide__item-link.accordion(href="#")
                  strong Support
                ul.swiper-slide__item-list.panel
                  li
                    a(href="#") GET SUPPORT
                  li
                    a(href="#") CONTACT US
                  li
                    a(href="#") FAQ

            //.swiper-slide
            //  .swiper-slide__item
            //    a.swiper-slide__item-link.accordion(href="#")
            //      strong LOGIN
            //    ul.swiper-slide__item-list.panel
            //      li
            //        a(href="#") item 1
            //      li
            //        a(href="#") item 2
            //
            //.swiper-slide
            //  .swiper-slide__item
            //    a.swiper-slide__item-link.accordion(href="#")
            //      strong STEMSTORE
            //    ul.swiper-slide__item-list.panel
            //      li
            //        a(href="#") item 1
            //      li
            //        a(href="#") item 2










