.header {
  border-bottom: 1px solid #e7e7e7;

  &__column {
    width: calc(20% - 30px);
    margin-left: 15px;
    margin-right: 15px;

    &:last-child {
      width: calc(80% - 30px);
    }
  }
}

//.nav {
//  display: flex;
//  justify-content: flex-end;
//  padding-top: 17px;
//  &__items {
//    display: flex;
//  }
//
//  &__item {
//    margin-right: 30px;
//    &:last-child {
//      margin-right: 0;
//    }
//  }
//
//  &__link {
//    @include font(20px, 600);
//
//    border-bottom: 3px solid transparent;
//    padding-bottom: 26px;
//
//    &:hover {
//      border-bottom-color: #e51b24;
//    }
//  }
//}






.header__logo {
  position: absolute;
  left: 200px;

  @media (max-width: $lg) {
    left: 20px;
  }
}

.swiper-nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;

  //&:hover .swiper-container {
  //  height: 260px;
  //}
}

.swiper-container {
  position: absolute;
  width: 100%;
  height: 0;
  top: 64px;
  opacity: 0.9;
  background-color: #d9d9d9;
  margin: auto;

}

.show {
 height: 260px;
  @media (max-width: $lg) {
    height: auto;
  }
}

.swiper-wrapper {
  @media (max-width: $lg) {
    display: flex;
    flex-direction: column;
  }
}

//.menu-buttons_main:hover + .swiper-container {
//  height: 260px;
//}

.menu-buttons {
  display: flex;
  justify-content: center;

  li {
    padding: 5px;
  }

  a {
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    border: 1px solid transparent;
    text-decoration: none;
    padding: 4px 10px;

    &:hover {
      color: #4a959b;
    }
  }

  &_secondary {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.swiper-slide {
  display: flex;
  text-align: left ;
  width: auto!important;
  min-height: 260px;
  opacity: 0.9;
  /* Center slide text vertically */
  justify-content: center;
  align-items: flex-start;
  margin: 0;

  //li + li {
  //  margin-top: 5px;
  //}
  @media (max-width: 868px) {
    //height: auto;
  }
}

.swiper-slide__subnav {
  display: flex;

  @media (max-width: 868px) {
    flex-direction: column;
    width: 100%;
  }
}

.swiper-slide__item {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  //margin-top: 20px;
  //padding: 0 15px 20px;
  @media (max-width: 868px) {
    width: 100%;
  }

  strong {
    text-transform: uppercase;
    //padding-bottom: 4px;
    padding: 15px 20px;
    @media (max-width: 868px) {
      background-color: #2fc0b5;
    }
  }

  li {
    padding: 5px 20px;
  }

  a {
    display: inline-block;
    padding: 5px 0;

    &:hover {
      color: #2fc0b5;
    }
  }
}

.swiper-slide-active {
  background-color: #fafafa;

  strong {
    background-color: #2fc0b5;
  }
}


.nav {
  @media (max-width: 868px) {
    //display: none;
  }
}

.menu-btn {
  display: none;

  justify-content: flex-end;
  svg {
    width: 26px;
    height: 26px;
  }
  @media (max-width: 868px) {
    display: flex;
  }

}


