.icon {
  display: inline-block;
  width: 1px;
  height: 1px;
  fill: currentColor;
}

.icon-logo-cplus {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-dotnet {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-drupal {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-flash {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-html5 {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-jquery {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-js {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-less {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-mysql {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-opencart {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-oracle {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-php {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-postgresql {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-rails {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
.icon-logo-symfony {
  font-size:(90/10)*1px;
  width:(75/90)*1px;
}
