-
  var menu = [
  {name: 'О компании', href: '#'},
  {name: 'Наши услуги', href: '#'},
  {name: 'Каталог', href: '#'},
  {name: 'Сотрудничество', href: '#'},
  {name: 'Новости', href: '#'},
  {name: 'Контакты', href: '#'}
  ]






